
@{
    ViewData["Title"] = "Buy";
}

<div class="container m-t-3">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <ol class="progress-step">
                    <li data-step="1">
                        Mi Carrito
                    </li>
                    <li data-step="2" class="is-active">
                        Datos de envío
                    </li>
                    <li data-step="3">
                        Metodo de Pago
                    </li>
                    <li data-step="4" class="progress__last">
                        Confirmación
                    </li>
                </ol>
            </div>

            <div class="title"><span>Comprar</span></div>


        </div>


    </div>
</div>



@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#ulMainMenu .li-checkout").addClass("active");
        });
    </script>
}
