
@{
    ViewData["Title"] = "Mi carrito";
}

<div class="container m-t-3">
    <div class="row">

        <!-- Mi lista de compras -->
        <ol class="progress-step">
            <li data-step="1" class="is-active">
                Mi Carrito
            </li>
            <li data-step="2">
                Datos de envío
            </li>
            <li data-step="3">
                Metodo de Pago
            </li>
            <li data-step="4" class="progress__last">
                Confirmación
            </li>
        </ol>

        <div class="title"><span>Mi carrito</span></div>
        <div class="table-responsive">
            <table class="table table-bordered table-cart">
                <thead>
                    <tr>
                        <th></th>
                        <th>Producto</th>
                        <th>Dispositivo</th>
                        <th>Material</th>
                        <th>Cantidad</th>
                        <th>Precio/u</th>
                        <th>SubTotal</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody id="tbodyCart"></tbody>
            </table>
        </div>
        <nav aria-label="Shopping Cart Next Navigation">
            <ul class="pager">
                <li class="previous"><a href="/"><span aria-hidden="true">←</span> Continuar comprando</a></li>
                <li class="next"><a href="~/Checkout/Deliver">Proceder a comprar <span aria-hidden="true">→</span></a></li>
            </ul>
        </nav>
    </div>
</div>


