
@{
    ViewData["Title"] = "CheckoutProceed";
}

<div class="container m-t-3">
    <div class="row">

        <!-- Mi lista de compras -->
        <ol class="progress-step">
            <li data-step="1" >
                Mi Carrito
            </li>
            <li data-step="2">
                Datos de envío
            </li>
            <li data-step="3">
                Metodo de Pago
            </li>
            <li data-step="4"  class="is-active progress__last">
                Confirmación
            </li>
        </ol>

        <div class="title"><span>Confirmación de Orden</span></div>


    </div>
</div>

