
@{
    ViewBag.Title = "PayReturn";
}

<div class="container text-center" style="padding-top:100px">
    <h2>SU PAGO A SIDO EXITOSO</h2>
    <h4>En un momento será redirigido al <a href="ww.caseandme.com">Inicio</a></h4>
    <br /><br />
    <img src="~/Content/images/bvT96FWc_400x400.png" />
</div>

}@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#ulMainMenu .li-checkout").addClass("active");

            sessionStorage.removeItem("oList")

            setTimeout(
                function () {
                    window.location.href = "/";
                }, 5000);
        });
    </script>
}
