
@{
    ViewData["Title"] = "CheckoutProceed";
}

<div class="container m-t-3">
    <div class="row">

        <!-- Mi lista de compras -->
        <div class="col-md-12">
            <div class="title"><span>Checkout</span></div>
            
        </div>


    </div>
</div>

