@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"].</h2>

<form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <h4>Create a new account.</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Password" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>


    <div class="form-group">
        <label asp-for="Nombre" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="PrimerApellido" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="PrimerApellido" class="form-control" />
            <span asp-validation-for="PrimerApellido" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="SegundoApellido" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="SegundoApellido" class="form-control" />
            <span asp-validation-for="SegundoApellido" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Direccion" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Direccion" class="form-control" />
            <span asp-validation-for="Direccion" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Colonia" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Colonia" class="form-control" />
            <span asp-validation-for="Colonia" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Ciudad" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Ciudad" class="form-control" />
            <span asp-validation-for="Ciudad" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="CP" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="CP" class="form-control" />
            <span asp-validation-for="CP" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Pais</label>
        <div class="col-md-10">
            <select id="Pais" data-rel="Estado">
                @foreach (var pais in (ICollection<Pais>)@ViewBag.Paises)
                {
                    <option value="@pais.Id">@pais.Nombre</option>
                }
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Estado</label>
        <div class="col-md-10">
            <select name="Estado"></select>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Telefono" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Telefono" class="form-control" />
            <span asp-validation-for="Telefono" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Telefono2" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Telefono2" class="form-control" />
            <span asp-validation-for="Telefono2" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Register</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>

        $("#Pais").on("change", function () {
            $this = this;
            var $select = $("select[name='" + $($this).attr("data-rel")+"']");

            $.getJSON("http://localhost:54260/xhr/paises/" + this.value + "/estados", function (json) {
                $select.html("");
                json.forEach(function (e, i) {
                    option = document.createElement("option");
                    option.value = e.Id;
                    option.innerHTML = e.Nombre;
                    $select.append(option);
                });
            })
                .fail(function (data) {
                    $select.html("");
                });
        });

        $("select").trigger("change");
    </script>
}
