@model RatingFilter
@for (int i = 0; i < Model.RatingsFilters.Count; i++)
{
    <ul>
        <li>
            <input type="checkbox" name="ratingFilter.RatingsFilters[@i].Selected" value="true" style="display: flex" onclick="submit()" />
            <label>
                Rating: @Model.RatingsFilters[i].Value
            </label>
            <label>(@Model.RatingsFilters[i].Matched)</label>
            <input type="hidden" name="ratingFilter.RatingsFilters[@i].Value" value="@Model.RatingsFilters[i].Value" />
        </li>
    </ul>
}